@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidde;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
 /* z-index: ;*/
}

.slide.active {
  opacity: 1;
}

.arrow {
  background-color: transparent;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  border: 2px solid orange;
  cursor: pointer;
}

.explore {
  color: #a9ffa9; /* Jungle green text color */
  background-color: purple; /* Purple background color */
  padding: 10px 10px; /* Adjust padding as needed */
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  border-radius: 10px; /* Add border radius for rounded corners */
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold; /* Make text bold */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Increased letter spacing */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: all 0.3s ease; /* Smooth transition on hover */
}

.explore:hover {
  background-color: #008000; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}


.arrow:focus {
  outline: 0;
}

.left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* Add this to your existing style.css file */

/* Navbar styles */
/* Add this to your existing style.css file */

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #048243; /* Gradient of purple to jungle green */
  color: #ffffff;
  padding: 20px 0;
  z-index: 3;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Arial Black', sans-serif;
  font-size: 36px; /* Adjust font size as needed */
  color: #faf4f4; /* Adjust color as needed */
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px; /* Adjust margin as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
  animation: pulse 2s  alternate; /* Apply animation */
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}


.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #bcc8bc;
}
.vision-mission {
  background-color: purple; /* Jungle green background */
  padding: 50px 0;
}

.vision-mission .container {
  max-width: 800px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 0 20px;
  text-align: center; /* Center align text */
}

.vision-mission h2 {
  font-size: 36px; /* Larger font size */
  color: #ffffff; /* White text */
  margin-bottom: 30px; /* Increased bottom margin */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Increased letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Horizontal shadow, Vertical shadow, Blur radius, Shadow color */
}

.vision-mission p {
  font-size: 17px; /* Larger font size */
  line-height: 1.6;
  color: #ffffff; /* White text */
  margin-bottom: 40px; /* Increased bottom margin */
}

.vision-mission p:last-child {
  margin-bottom: 0; /* Remove bottom margin for last paragraph */
}


.about-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
}

.circle-image {
  text-align: center;
  margin-bottom: 30px;
}

.about-image {
  width: 200px; /* Adjust image width as needed */
  height: 200px; /* Adjust image height as needed */
  border-radius: 50%; /* Create circular shape */
  border: 5px solid #fff; /* Add border around the image */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.container {
  max-width: 1200px; /* Adjust container width as needed */
  margin: 0 auto;
  padding: 0 20px;
}

.about-content {
  text-align: center;
}

.about-content p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.about-content ul {
  list-style-type: none;
  padding: 0;
}

.about-content ul li {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px;
}

.highlight {
  font-weight: bold;
  color: #007bff; /* Change highlight color as needed */
}


.rectangular-image img {
  width: 100%;
  height: 1000px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px; /* Optional: Add rounded corners for aesthetics */
}



.about-image {
  border-radius: 50%;
  width: 150px; /* Adjust the width and height as needed */
  height: 150px;
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
  border: 5px solid #fff; /* Optional: Add a border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

/*services*/
.services-section {
  padding: 50px 0;
  background-color: purple;
}

.services-section .container {
  text-align: center;
}

.services-section h2 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 30px;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  width: 300px;
  margin: 20px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.service h3 {
  font-size: 1.5em;
  color: #008000;
  margin-bottom: 15px;
}

.service p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #444;
}



/* Contact Section */
.contact-section {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.contact-section h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #006400;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  width: 100%;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
}

.footer-logo h2 {
  font-size: 2em;
  margin-bottom: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-social a {
  color: rgb(234, 215, 234);
  font-size: 20px;
  margin-right: 10px;
}

.footer-social a:hover {
  color: purple;
}

.footer-copy {
  margin-top: 20px;
}




@media only screen and (min-width: 768px) {
  .menu-toggle{display: none;}
}


@media only screen and (max-width: 768px) {

/* Mobile footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-logo h2 {
  font-size: 1.5em;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-social {
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.footer-social a:hover {
  color: #008000;
}

.footer-copy {
  font-size: 0.8em;
}



  .navbar {
    padding: 10px 0; /* Reduce padding for mobile */
  }

  .logo {
    font-size: 20px; /* Decrease font size for mobile */
  }

  .nav-links {
    display: none; /* Hide nav links by default on mobile */
    flex-direction: column; /* Stack nav links vertically */
    position: absolute;
    top: 100%; /* Position below navbar */
    left: 0%;
    background-color: #048243; /* Juungle green background */
    width: 100%;
    height: 270px;
    padding: 10px 0;
    z-index: 2;
    border-radius: 10px;
  }

  .nav-links.show {
    display: flex; /* Show nav links when toggled */
  }

  .nav-links li {
    margin: 0;
    text-align: center;
  }

  .nav-links li a {
    display: block; /* Make nav links full width */
    padding: 20px 20px; /* Add padding to nav links */
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .nav-links li a:hover {
    color: purple; /* Change background color on hover */
    width: auto;
  }



  .vision-mission {
    padding: 30px 20px; /* Adjust padding for mobile */
}

.vision-mission .container {
    max-width: 100%; /* Full width for mobile */
}

.vision-mission h2 {
    font-size: 24px; /* Decrease font size for mobile */
    margin-bottom: 20px; /* Decrease bottom margin for mobile */
}

.vision-mission p {
    font-size: 16px; /* Decrease font size for mobile */
    margin-bottom: 30px; /* Decrease bottom margin for mobile */
}

}






